<!--
  This template loads for the 'tab.brewerie-detail' state (app.js)
  'brewery' is a $scope variable created in the BreweryCtrl controller (controllers.js)
  The BreweryCtrl pulls data from the Breweries service (service.js)
  The Breweries service returns an array of brewery data
-->
<ion-view title="brewery.name">
  <ion-content has-header="true" padding="true">
    <google-map draggable='false' center="map.center" options="map.options" zoom="map.zoom">
      <marker coords="map.marker"></marker>
    </google-map>
    <h3>{{ brewery.name }}</h3>
    <hr />
    
    <h4>{{ brewery.address }}</h4>
    <h4>{{ brewery.postal_code }} {{ brewery.city }}</h4> 
    <br />
    
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/breweries"> All Breweries</a></p>
  </ion-content>
</ion-view>
