<!--
  This template loads for the 'tab.brewerie-detail' state (app.js)
  'brewery' is a $scope variable created in the BreweryCtrl controller (controllers.js)
  The BreweryCtrl pulls data from the Breweries service (service.js)
  The Breweries service returns an array of brewery data
-->
<ion-view title="brewery.title">
  <ion-content has-header="true" padding="true">
    <p>{{ brewery.name }}</p>
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/breweries"> All Breweries</a></p>
  </ion-content>
</ion-view>
