
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- Breweries Tab -->
  <ion-tab title="Breweries" icon="icon ion-home" href="#/tab/breweries">
    <ion-nav-view name="breweries-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
